<div id = "user-show">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-3">
                <h1>PICTURE</h1>
                <h1>PICTURE</h1>
                <h1>PICTURE</h1>
            </div>
            <div class = "col-md-8">
                <div class = "row">
                    <div class = "col-md-6 text-center">
                        <h1><%= current_user.name %></h1>
                    </div>
                    <div class = "col-md-6 text-center">
                        <h1><%= current_user.screen_name %></h1>
                    </div>
                </div>
            </div>
        </div><!--END ROW-->

        <div class = "row">
            <div class = "col-md-3 well">
                <div class = "row">
                    <div class = "col-sm-6">
                        <h3>Followers: </h3>
                    </div>
                    <div class = "col-sm-4">
                        <h3><%= @presenter.followers %></h3>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm-6">
                        <h3>Following: </h3>
                    </div>
                    <div class = "col-sm-4">
                        <h3><%= @presenter.following %></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-8 well">
                <div class = "row">
                    <div class = "col-md-6">
                        <h2>Starred Repos</h2>
                    </div>
                    <div class = "col-md-6">
                      <% if false %>
                        <% @presenter.starred.each do |repo| %>
                            <%= link_to repo[:name], repo[:url] %>
                        <% end %>
                      <%end %>
                    </div>
                </div>
            </div>
        </div><!--Row-->

        <div class="spacer"></div>
        <div class="spacer"></div>


        <div class = "row">
            <div class = "col-md-6 well">
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <h2>Contribution Summary</h2>
                    </div>
                </div>
                <div class = "row">
                    <div class ="col-md-7 text-right">
                        <h3>Rolling 365day commits:</h3>
                    </div>
                    <div class ="col-md-4">
                        <h3>SomeNUm</h3>
                    </div>
                </div>
                <div class = "row">
                    <div class ="col-md-7 text-right">
                        <h3>Longest Streak</h3>
                    </div>
                    <div class ="col-md-4">
                        <h3>SomeNUm</h3>
                    </div>
                </div>
                <div class = "row">
                    <div class ="col-md-7 text-right">
                        <h3>Current Streak</h3>
                    </div>
                    <div class ="col-md-4">
                        <h3>SomeNUm</h3>
                    </div>
                </div>
            </div><!--Contrib summary-->

            <div class = "col-md-5 well">
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <h2>Organizations</h2>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                      <% if false %>
                        <% @presenter.organizations.each do |org| %>
                            <%= link_to org[:name], org[:url] %>
                        <% end %>
                      <% end %>
                    </div>
                </div>
            </div>
        </div><!--Row-->

        <div class = "row">
            <div class = "col-md-offset-2 col-md-5">
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <h2>Recent Activity</h2>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <table>
                            <tr>
                                <th class="text-center"><h4>Action</h4></th>
                                <th class="text-center"><h4>Repo</h4></th>
                            </tr>
                            <% if false %>
                            <% @presenter.my_events.each do |event| %>
                                <tr>
                                    <td><%=event[:type]%></td>
                                    <td><%= link_to event[:repo_name], event[:url] %></td>
                                </tr>
                            <% end %>
                            <% end %>
                        </table>
                    </div>
                </div>
            </div><!--Col-->
            <div class = "col-md-5">
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <h2>Following Activity</h2>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <table>
                            <tr>
                                <th class="text-center"><h4>Action</h4></th>
                                <th class="text-center"><h4>Repo</h4></th>
                            </tr>
                            <% @presenter.received_events.each do |event| %>
                                <tr>
                                    <td><%=event[:type]%></td>
                                    <td><%= link_to event[:repo_name], event[:url] %></td>
                                </tr>
                            <% end %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
