<div id = "user-show">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-3 well">
                <div class="row">
                    <div class = "col-md-12">
                        <%= image_tag("#{@presenter.avatar}", size: "200x200") %>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-md-12">
                        <div class = "col-sm-12">
                          <h3>Followers: <%= " #{@presenter.followers}" %></h3>
                        </div>
                        <div class = "col-sm-12">
                          <h3>Following: <%= " #{@presenter.following}" %></h3>
                        </div>
                    </div>
                </div>
            </div><!--col-->

            <div class = "col-md-8">
                <div class = "row">
                    <div class = "col-md-6 text-center">
                        <h1><%= current_user.name %></h1>
                    </div>
                    <div class = "col-md-6 text-center">
                        <h1><%= current_user.screen_name %></h1>
                    </div>
                </div>
                <div class="row">
                  <div class="spacer"></div>
                </div>
            </div>

            <div class = "row">
                <div class = "col-md-8 well">
                    <div class = "row">
                        <div class = "col-md-12 text-center">
                            <h2>Contribution Summary</h2>
                        </div>
                    </div>
                    <div class = "row">
                        <div class ="col-md-7 text-right">
                            <h3>Commits (past year):</h3>
                        </div>
                        <div class ="col-md-4">
                            <h3><%= @presenter.stats[:year_commits] %></h3>
                        </div>
                    </div>
                    <div class = "row">
                        <div class ="col-md-7 text-right">
                            <h3>Longest Streak:</h3>
                        </div>
                        <div class ="col-md-4">
                            <h3><%= @presenter.stats[:longest_streak] %></h3>
                        </div>
                    </div>
                    <div class = "row">
                        <div class ="col-md-7 text-right">
                            <h3>Current Streak:</h3>
                        </div>
                        <div class ="col-md-4">
                            <h3><%= @presenter.stats[:current_streak] %></h3>
                        </div>
                    </div>
                </div><!--Contrib summary-->
            </div><!--Row-->
        </div><!--END ROW-->
    </div><!--container-->
        <div class="spacer"></div>
        <div class = "row">
            <div class = "col-md-12 well">
                <div class = "row">
                    <div class = "col-md-12 text-center">
                      <h2>Repositories</h2>
                      <div class="small-spacer"></div>
                    </div>
                    <div class = "col-md-12 text-center">
                        <%= render partial: "layouts/repo", collection: @presenter.repos %>
                    </div>
                </div>
            </div>
        </div>


        <div class="small-spacer"></div>
        <div class = "row">
            <div class = " col-md-1"></div>
            <div class = " col-md-4 well">
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <h2>Organizations</h2>
                        <div class="small-spacer"></div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <%= render partial: "layouts/repo", collection: @presenter.organizations %>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>

            <div class="col-md-4 well">
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <h2>Starred Repositories</h2>
                        <div class="small-spacer"></div>
                    </div>
                    <div class = "col-md-12 text-center">
                      <%= render partial: "layouts/repo", collection: @presenter.starred %>
                    </div>
                </div>
            </div>
        </div><!--Row-->


    <div class="spacer"></div>

    <div class = "row dark">
        <div class="container">
            <div class = "col-md-12">
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <h2>My Activity</h2>
                    </div>
                </div>
                <div class="small-spacer"></div>
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <table class="table">
                            <tr>
                                <th class="text-center"><h4>Action</h4></th>
                                <th class="text-center"><h4>Repository</h4></th>
                                <th class="text-center"><h4>Time</h4></th>
                            </tr>
                            <% @presenter.my_events.each do |event| %>
                                <tr>
                                    <td><%=event.type %></td>
                                    <td><%= link_to event.repo_name, event.repo_url %></td>
                                    <td><%= time_ago_in_words(event.created_at) + " ago" %></td>
                                </tr>
                            <% end %>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--Col-->
    </div>

    <div class="spacer"></div>

    <div class = "row dark">
        <div class="container">
            <div class = "col-md-12">
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <h2>Following Activity</h2>
                    </div>
                </div>
                <div class="small-spacer"></div>
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <table class="table">
                            <tr>
                                <th class="text-center"><h4>Action</h4></th>
                                <th class="text-center"><h4>User</h4></th>
                                <th class="text-center"><h4>Repository</h4></th>
                                <th class="text-center"><h4>Time</h4></th>
                            </tr>
                            <% @presenter.received_events.each do |event| %>
                                <tr>
                                    <td><%= event.type %></td>
                                    <td><%= event.user %></td>
                                    <td><%= link_to event.repo_name, event.repo_url %></td>
                                    <td><%= time_ago_in_words(event.created_at) + " ago" %></td>
                                </tr>
                            <% end %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
